<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="timerExecuteService" value="120000" />
    <add key="urlDeleteTaskWrike" value="https://www.wrike.com/api/v4/tasks/" />
    <add key="urlGetTaskByFolderIdAndCreateDate" value="https://www.wrike.com/api/v4/folders/{0}/tasks?createdDate={1}" />
    <add key="totalRequestsToWrike" value="200" />
    <add key="tokenWrike" value="eyJ0dCI6InAiLCJhbGciOiJIUzI1NiIsInR2IjoiMSJ9.eyJkIjoie1wiYVwiOjMxODYzNCxcImlcIjo3MTA5NzQ2LFwiY1wiOjQ2MTk5NjksXCJ1XCI6MjUyODQyNyxcInJcIjpcIlVTXCIsXCJzXCI6W1wiV1wiLFwiRlwiLFwiSVwiLFwiVVwiLFwiS1wiLFwiQ1wiLFwiRFwiLFwiQVwiLFwiTFwiLFwiUFwiXSxcInpcIjpbXSxcInRcIjowfSIsImlhdCI6MTU5Mjg3NDYzNn0.SY1wF41psODrimYNrDtOJJIrXZ9pI6fYPwKpJnmA-X0" />
    <add key="isTest" value="true"/> 
    <add key="foldersToIgnore" value="ASDAVDS234234"/>
    <add key="orderToClean" value="T2;T1"/>
    <add key="createdDateToBehind" value="15"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnTest" connectionString="datasource=34.71.205.134;port=3306;username=StcPruebas;password=bxGDH!kM*s5f;database=stcgosmo;" />
    <add name="DbConnProd" connectionString="datasource=34.71.205.134;port=3306;username=StcPruebas;password=bxGDH!kM*s5f;database=stcgosmo;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>